.social-media-icons-box {
  width: 160px;
}
.footer-top {
  border-bottom: 1px solid #22621a;
  padding-block: 10px;
}
.footer-links {
  width: 300px;
}

@media screen and (max-width: 480px) {
  .footer-top svg {
    width: 25px;
    height: 25px;
  }
}
