.Page404-desc h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 108px;
  /* or 169% */

  text-transform: lowercase;

  color: #384259;
}
.Page404-desc p {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 108px;
  /* or 360% */

  text-transform: lowercase;

  color: #565f73;
}
