.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-box {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 44px;
  position: relative;
  z-index: 1;
}
.login-right-box {
  position: relative;
}

.login-form {
  z-index: 999;
  position: relative;
}
.passwordInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.login-form input:focus {
  outline: none;
  box-shadow: none;
}
.blur-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;

  background: rgba(52, 182, 111, 0.2);

  filter: blur(200px);
}
.googleIcon {
  position: relative;
  background-color: #ffffff !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 8px;
  border: #ffffff !important;
  z-index: 9999;
}
.color {
  color: #e11045;
}
.bottom-link {
  font-size: 18px;
}
.buttons {
  width: 450px;
  height: 50px;
}
.link-btn:hover {
  color: #e11045;
}
@media screen and (max-width: 480px) {
  .login-form-heading {
    font-size: 24px;
  }
  .login-form-box h6 {
    font-size: 14px;
  }
  .labels {
    font-size: 14px;
  }
  .bg-transparent {
    font-size: 14px;
  }
}
